.demo-content-context
    background-color blue

.demo-content-left
    background-color green

.demo-content-tracks
    background-color yellow

.demo-content-player
    background-color red

.left-menu
    position: fixed;
    top: 51px
    bottom: 60px
    left: 0px
    z-index: 1000
    display: block
    padding: 20px
    overflow-x: hidden
    overflow-y: auto
    background-color: #F5F5F5
    border-right: 1px solid #EEE

.player
    position: fixed
    bottom: 0px
    width: 100%
    height: 60px

