label(for='menu-section') Section
ul#menu-section.nav.nav-sidebar
    li
        a#menu-all-tracks All Tracks
    li
        a#menu-queue Up Next

label(for='menu-playlist') Playlist
div#menu-playlist
