label(for='Edit-title') Title
input#Edit-title.form-control(type='text')
label(for='Edit-artist') Artist
input#Edit-artist.form-control(type='text')
label(for='Edit-album') Album
input#Edit-album.form-control(type='text')
label(for='Edit-year') Year
input#Edit-year.form-control(type='text')
label(for='Edit-genre') Genre
input#Edit-genre.form-control(type='text')
