button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false")
    Add TO PLAYLIST
    span.caret
ul#tracks-menu-playlist-content.dropdown-menu
