div#playlist-menu-button.nav.nav-tabs
    button#playlist-menu-remove-playlist.btn.btn-default(role='presentation') Remove Playlist
    button#playlist-menu-remove-track.btn.btn-default(role='presentation') Remove Track
