div.btn-group(role='group' aria-label='...')
    button#player-prev.btn.btn-default(type='button') PREV
    button#player-play.btn.btn-default(type='button') PLAY/PAUSE
    button#player-next.btn.btn-default(type='button') NEXT
