#file-manager.btn-group
    input#upload-files.btn.btn-default.btn-file(
    name='upload-files'
    type='file'
    multiple='multiple'
    accept='audio/*'
    )
    button#fetch.btn.btn-default(type='button', value='FETCH') FETCH

