label(for='menu-section') Section
ul#menu-section.nav.nav-sidebar
    li
        a All Tracks

label(for='menu-playlist') Playlist
ul#menu-playlist.nav.nav-sidebar
    li
        a Playlist1
    li
        a Playlist2
    li
        a Playlist3
    li#menu-playlist-new
        a Create a Playlist
